@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --font-geist: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-vazirmatn: "Vazirmatn", sans-serif;
}

/* * {
  font-family: var(--font-geist);
} */

body {
  @apply antialiased;
}

@keyframes slide-up {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}
.sheet-enter {
  animation: slide-up 0.28s cubic-bezier(0.32, 0.72, 0, 1);
}
